
<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-md-3">
      <app-formulario-editorial></app-formulario-editorial>
    </div>
    <div class="col-md-6">
      <app-lista-editorial></app-lista-editorial>
    </div>
    <div class="col-md-3">
      <app-cantidad-libros></app-cantidad-libros>
    </div>
  </div>
  <hr>

    <div class="row">
      <div class="col-3">
        <app-formulario-libros></app-formulario-libros>
      </div>
      <div class="col-9">
        <app-lista-libros></app-lista-libros>
      </div>
  </div>
</div>

